<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fast_food_hamburguer_svgrepo_com"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppFoodProject"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Admin.FoodOrderRealTimeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.OverallStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.StatisticalActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Activity.Admin.OutstandingFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.NavigationFoodManagermentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.FoodManagermentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.UserManagermentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Admin.AdminMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.User.DoneActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.WishListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.AllBestFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.ListFoodActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.MainActivity"
            android:exported="false"></activity>
        <activity
            android:name=".Activity.User.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.User.IntroActivity"
            android:exported="false" />
    </application>

</manifest>